* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: grid;
    position: relative;
    place-content: center;

    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,249,252,1) 100%); 
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.container {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-items: center;
    gap: 5px
}

.wrapper {
    height: 405px;
    padding-top: 60px;
    margin-top: 0;
    padding-bottom: 50px;
    width: 360px;
    background-color: rgba(255, 255, 255, 0.4);
    display: grid;
    margin-bottom: 10px;
    align-content: center;
    justify-items: center;
}

.cards{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    
    background-color: rgba(255, 255, 255, 0.5);
}

.start-button {
    margin: 5px;
    background-color: rgb(65, 105, 225);
    padding: 15px;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.container-button {
    position: relative;
    text-align: center;
    overflow: hidden;
    
}

.start-button{
    width: 100%;
    margin: 0;
    font-size: 15px;
}



.start-button span {
    position: relative;
    border: none;
    z-index: 2;
    transition: .3s ease all;
}



.start-button::after {
    content: "";
    width: 100%;
    border: none;
    height: 40px;
    position: absolute;
    z-index: 1;
    top: -40px;
    
    left:  calc(-100% - 50px);
    border-bottom: 50px solid rgb(50,205,50);
    border-right: 50px solid transparent;
    transition: 0.4s ease-in-out all;
}

.start-button:hover::after{
    left: 0;
}